[user]
	name = Damien Laidin
	email = damien@chirp.io

[core]
  editor = vim
  excludesfile = /Users/littlemonster/.gitignore_global

[push]
  default = simple
	recurseSubmodules = on-demand

[alias]
  s = status
  po = push origin
  co = commit
  cos = commit --signoff
  cl = clone
  l = log --graph --date=local --pretty=format:'%C(green)%h%Creset %C(white)-->%Creset %C(blue)%aN (%cE)%Creset %C(white):%Creset %C(yellow)%ad%Creset%  %C(white):%Creset%C(auto)%d%Creset%n%B'
  ld = log --decorate --graph --date=local
  rpo = remote prune origin
  st = stash
  stp = stash pop
  pro = pull --rebase origin
	prod = pull --rebase origin develop
  uncommit = reset HEAD^
  sub = !git submodule sync --recursive && git submodule update --init --recursive
  # bs = !/Users/littlemonster/git-branch-status/git-branch-status -a
	br = "!f() { \
				git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/ \\1/' -e 's/^[[:space:]]*//'; \
				}; f"

[color]
  ui = true
  status = auto
  branch = true
  diff = true
  interactive = true

[color "decorate"]
  HEAD = cyan
  branch = green
  remoteBranch = red
  tag = white
  stash = magenta

[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

[status]
	submoduleSummary = true

[diff]
	submodule = log

[fetch]
	recurseSubmodules = on-demand